.activity-bar {
  z-index: 6;

  background-color: $secondary;

  height: 100vh;
  width: 40px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  border-right: 1px solid lighten($secondary,20%);
  box-shadow: 0px 3px 5px rgba(black, 0.8);
  button.activity-button {
    // Reset end

    height: 40px;
    width: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: lighten($secondary, 20%);
    }
    i.bx {
      color: white;
      font-size: 1.5rem;
    }
  }
}
