$primary: rgba(12, 9, 8, 1);
$secondary: rgba(141, 125, 104, 1);
$dark: rgba(60, 46, 42, 1);
$gray: rgba(161, 166, 186, 1);
$light: rgba(242, 242, 245, 1);
$bg-color: white;
$txt-color: black;

$primary-night: rgba(12, 9, 8, 1);
$secondary-night: rgba(141, 125, 104, 1);
$dark-night: rgba(60, 46, 42, 1);
$gray-night: rgba(161, 166, 186, 1);
$light-night: rgba(242, 242, 245, 1);

/* SCSS RGB */
$smoky-black: rgba(34, 25, 22, 1);
$raisin-black: rgba(48, 46, 53, 1);
$independence: rgba(62, 67, 84, 1);
$independence-2: rgba(88, 94, 119, 1);
$rhythm: rgba(117, 117, 149, 1);